# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules/
npm-debug.log*
yarn-error.log

# Env
.env
.env.local
.env.*.local

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# logs
logs
*.log

# mac
*.DS_Store
